In [2]:
import pandas as pd
from keras.utils import np_utils
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler

## Categorical Encoding

In [3]:
# Importando base de dataset
dataset = pd.read_csv('../Dados/Credit.csv')

In [5]:
dataset.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad

In [4]:
# Separando features para exemplo
X = dataset.iloc[:, 8:10].values
print(X)

[["'male single'" 'none']
 ["'female div/dep/mar'" 'none']
 ["'male single'" 'none']
 ...
 ["'male single'" 'none']
 ["'male single'" 'none']
 ["'male single'" 'none']]

In [5]:
# Label Encoding
labelencoder = LabelEncoder()
X[:, 0] = labelencoder.fit_transform(X[:, 0])
print(X)

[[3 'none']
 [0 'none']
 [3 'none']
 ...
 [3 'none']
 [3 'none']
 [3 'none']]

In [6]:
# One-Hot Encoding - usando Sklearn
onehotenconder = make_column_transformer((OneHotEncoder(categories = 'auto', sparse = False), [1]), remainder = 'passthrough')
X = onehotenconder.fit_transform(X)
X

array([[0.0, 0.0, 1.0, 3],
       [0.0, 0.0, 1.0, 0],
       [0.0, 0.0, 1.0, 3],
       ...,
       [0.0, 0.0, 1.0, 3],
       [0.0, 0.0, 1.0, 3],
       [0.0, 0.0, 1.0, 3]], dtype=object)

In [4]:
# One-Hot Encoding - usando Pandas
X = pd.get_dummies(data = dataset, columns = ['checking_status'])
X

,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,...,existing_credits,job,num_dependents,own_telephone,foreign_worker,class,checking_status_'no checking',checking_status_0<=X<200,checking_status_<0,checking_status_>=200
0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,4,...,2,skilled,1,yes,yes,good,0,0,1,0
1,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,2,...,1,skilled,1,none,yes,bad,0,1,0,0
2,12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,3,...,1,'unskilled resident',2,none,yes,good,1,0,0,0
3,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,4,...,1,skilled,2,none,yes,good,0,0,1,0
4,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,4,...,2,skilled,2,none,yes,bad,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12,'existing paid',furniture/equipment,1736,<100,4<=X<7,3,'female div/dep/mar',none,4,...,1,'unskilled resident',1,none,yes,good,1,0,0,0
996,30,'existing paid','used car',3857,<100,1<=X<4,4,'male div/sep',none,4,...,1,'high qualif/self emp/mgmt',1,yes,yes,good,0,0,1,0
997,12,'existing paid',radio/tv,804,<100,>=7,4,'male single',none,4,...,1,skilled,1,none,yes,good,1,0,0,0
998,45,'existing paid',radio/tv,1845,<100,1<=X<4,4,'male single',none,4,...,1,skilled,1,yes,yes,bad,0,0,1,0
999,45,'critical/other existing credit','used car',4576,100<=X<500,unemployed,3,'male single',none,4,...,1,skilled,1,none,yes,good,0,1,0,0

In [6]:
# One-Hot Encoding - usando Keras - NÃO TESTADO
X = np_utils.to_categorical()