In [1]:
import pandas as pd
import numpy as np
from keras.utils import np_utils
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler, LabelBinarizer, MultiLabelBinarizer, label_binarize

## Categorical Encoding

In [37]:
# Importando base de dataset
dataset = pd.read_csv('../Dados/Credit.csv')
dataset.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad

### Usando LabelEncoder

In [38]:
dataset.other_parties.value_counts()

none              907
guarantor          52
'co applicant'     41
Name: other_parties, dtype: int64

In [39]:
# Label Encoding - usando sklearn
le = LabelEncoder()
dataset['other_parties'] = le.fit_transform(dataset['other_parties'])
dataset.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',2,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',2,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',2,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',1,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',2,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad

In [40]:
dataset.other_parties.value_counts()

2    907
1     52
0     41
Name: other_parties, dtype: int64

### Usando LabelBinarizer

In [41]:
dataset.foreign_worker.value_counts()

yes    963
no      37
Name: foreign_worker, dtype: int64

In [42]:
# Label Binarizer - usando sklearn
labelbinarizer = LabelBinarizer()
dataset['foreign_worker'] = labelbinarizer.fit_transform(dataset['foreign_worker'])
dataset.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',2,...,'real estate',67,none,own,2,skilled,1,yes,1,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',2,...,'real estate',22,none,own,1,skilled,1,none,1,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',2,...,'real estate',49,none,own,1,'unskilled resident',2,none,1,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',1,...,'life insurance',45,none,'for free',1,skilled,2,none,1,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',2,...,'no known property',53,none,'for free',2,skilled,2,none,1,bad

In [43]:
dataset.foreign_worker.value_counts()

1    963
0     37
Name: foreign_worker, dtype: int64

In [44]:
dataset.other_parties.value_counts()

2    907
1     52
0     41
Name: other_parties, dtype: int64

In [35]:
dataset.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',2,...,'real estate',67,none,own,2,skilled,1,yes,1,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',2,...,'real estate',22,none,own,1,skilled,1,none,1,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',2,...,'real estate',49,none,own,1,'unskilled resident',2,none,1,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',1,...,'life insurance',45,none,'for free',1,skilled,2,none,1,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',2,...,'no known property',53,none,'for free',2,skilled,2,none,1,bad

In [48]:
# One-Hot Encoding - usando sklearn
lb = LabelBinarizer()
y = lb.fit_transform(dataset['other_parties'])
y

array([[0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       ...,
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1]])

### Usando np_utils

In [51]:
# One-Hot Encoding - usando keras 
X1 = np_utils.to_categorical(dataset['other_parties']).astype(int)
X1

array([[0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       ...,
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1]])

### Usando get_dummies

In [52]:
# One-Hot Encoding - usando Pandas
X3 = pd.get_dummies(data = dataset, columns = ['checking_status'])
X3

,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,...,existing_credits,job,num_dependents,own_telephone,foreign_worker,class,checking_status_'no checking',checking_status_0<=X<200,checking_status_<0,checking_status_>=200
0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',2,4,...,2,skilled,1,yes,1,good,0,0,1,0
1,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',2,2,...,1,skilled,1,none,1,bad,0,1,0,0
2,12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',2,3,...,1,'unskilled resident',2,none,1,good,1,0,0,0
3,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',1,4,...,1,skilled,2,none,1,good,0,0,1,0
4,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',2,4,...,2,skilled,2,none,1,bad,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12,'existing paid',furniture/equipment,1736,<100,4<=X<7,3,'female div/dep/mar',2,4,...,1,'unskilled resident',1,none,1,good,1,0,0,0
996,30,'existing paid','used car',3857,<100,1<=X<4,4,'male div/sep',2,4,...,1,'high qualif/self emp/mgmt',1,yes,1,good,0,0,1,0
997,12,'existing paid',radio/tv,804,<100,>=7,4,'male single',2,4,...,1,skilled,1,none,1,good,1,0,0,0
998,45,'existing paid',radio/tv,1845,<100,1<=X<4,4,'male single',2,4,...,1,skilled,1,yes,1,bad,0,0,1,0
999,45,'critical/other existing credit','used car',4576,100<=X<500,unemployed,3,'male single',2,4,...,1,skilled,1,none,1,good,0,1,0,0