In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

## Feature Scaling

In [2]:
# Importando base de dataset
dataset = pd.read_csv('../Dados/Credit.csv')
dataset.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad

In [3]:
fs = dataset.iloc[:, [1, 4, 7]].values

In [4]:
# Padronizando - Z-Score, média 0 desvio padrão 1
sc = StandardScaler()
x = sc.fit_transform(fs)
x

# Ou

# sc = StandardScaler().fit(x)
# x = sc.transform(fs)

array([[-1.23647786, -0.74513141,  0.91847717],
       [ 2.24819436,  0.94981679, -0.87018333],
       [-0.73866754, -0.41656241, -0.87018333],
       ...,
       [-0.73866754, -0.87450324,  0.91847717],
       [ 1.9992892 , -0.50552769,  0.91847717],
       [ 1.9992892 ,  0.46245715,  0.02414692]])

In [5]:
# Normalizando - 
sc = MinMaxScaler()
y = sc.fit_transform(fs)
y

array([[0.02941176, 0.05056674, 1.        ],
       [0.64705882, 0.31368989, 0.33333333],
       [0.11764706, 0.10157368, 0.33333333],
       ...,
       [0.11764706, 0.03048311, 1.        ],
       [0.60294118, 0.08776274, 1.        ],
       [0.60294118, 0.23803235, 0.66666667]])